/*--------------------FRONT PAGE--------------------------*/


#main {
	margin-top:0px;
	background-color:white;
} 
.intro-wrapper,
.contact-wrapper,
.blog-wrapper {
	width: 100%;
	height: 600px;
	background-repeat: no-repeat center center; 
	background-size: cover;
	position: relative;
}
.intro-wrapper,
.blog-wrapper {
	background: #fff;
}
.contact-wrapper {
	background: #ccc;
}
.intro-container,
.contact-container,
.blog-container {
	width:80%;
	position: absolute; 
	padding: 0;
	top: 50%; 
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: justify;
	background: transparent;
	font-size: 1.2rem;
	font-weight: 300;
}
.intro-container h1,
.contact-container h1,
.blog-container h1 {
	margin:0px auto;
	border-bottom: 1px solid #ccc;
	margin-bottom:1rem;
	text-align:center;
	font-family: $headline-font-stack;
}
.contact-wrapper ul {
	margin: 0;
	padding: 0;
}
.contact-wrapper li {
	padding-bottom: 20px;
	width: 25%;
	display: block;
	margin-right: 12.5%;
	float: left;
}
.contact-wrapper li:first-of-type {
	margin-left: 0;
}
.contact-wrapper img {
	width: 100%;
}
.contact-wrapper li:last-of-type {
	float:right;
	margin-right:0;
}
.contact-wrapper a {
	opacity: .6;
}
.contact-wrapper a:hover {
	opacity: 1;
}
.contact-container h1 {
	border-bottom: 1px solid #ededed;
}
.post {
	margin-top:1rem;
}	
.entry {
	clear:both;
	text-align:justify;
}
.entry a {
	text-decoration: underline;
}
a.more-link {
	text-decoration:none;
}
.front-page-blog-post-title {
	float: left;
	margin-bottom:.4rem;
	margin-top: 0rem;
	font-size: 1.3rem;
	font-style: italic;
}
.more-link {
	display: block;
}
.divider {
	display: none;
}


/* ---styles our animation will animate from-----*/
.intro-heading,
.intro-copy,
.contact-header,
.blog-header,
.post-teaser,
.email-link,
.github-link,
.twitter-link {
	opacity: 0;
	position: relative;
	bottom: 50px;
}

@media screen and (min-width:450px) {
	.contact-wrapper li {
		padding-bottom: 20px;
		display: block;
		width: 16%;
		margin-right: 13%;
		margin-top: 2rem;
	}
	.contact-wrapper li:first-of-type {
		margin-left: 13%;
	}
	.contact-wrapper li:last-of-type {
		float: left;
	}
	.intro-container h1,
	.contact-container h1,
	.blog-container h1 {
		font-size: 4rem;
	}
}

@media screen and (min-width: 585px) {
	.intro-wrapper,
	.contact-wrapper,
	.blog-wrapper {
		width: 100%;
		height: 1000px;
	}
	.intro-wrapper {
		background: url(../twentyfourteen/images/computer.jpg);
	}
	.contact-wrapper {
		background: url(../twentyfourteen/images/contact.jpg);
	}
	.blog-wrapper {
		background: url(../twentyfourteen/images/typewriter.jpg);
	}
	.intro-container,
	.contact-container,
	.blog-container {
		width:60%;
		height: 300px;
		height: 300px;
		background: #fff;
		opacity: .85;
		max-width: 500px;
		position: absolute; 
		padding: 60px;
	}
	.divider {
		display: block;
		width: 100%;
		height: 150px;
		background: #ccc;
	}
}
