/*--------portfolio---------*/

/* overriding site styles so that flexbox will work correctly on our project description*/
p {
  margin-top: 0;
}
#click-menu {
  display: block !important;
}
/* we want our menu toggle button to be visible even on top of dark backgrounds */
.click-menu-image {
  background: #ccc;
  padding: 5px;
  border-radius: 2px;
}
.onepage-pagination {
  top: 20px;
  left: 20px;
  background: #ccc;
  border-radius: 2px;
}

section {
  display: flex; 
  flex-direction: column;
  justify-content: center; /* centering content within the viewport*/
  align-items: center;
}
section p a {
  text-decoration: underline;
}
.page_container {
  position: relative;
  display: flex;
  flex-direction: column; /* at <900px, we stack our project image and copy*/
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
/*---hiding the content sections after the first section, so that we can animate them to visible when we scroll to them*/
.page_container2,
.page_container3 {
  opacity: 0;
  bottom: 15px;
}
.page1 {
  background: #ccc;
}
.page2 {
  background: #1C1C1B;
  color: #8A8988;
}
.page2 a {
  color: #8A8988;
}
h1 {
  margin-top: 0;
}
.project-description,
.project-image-container {
  text-align: center;
}
.project-description {
  order: 2;
}
.project-image-container {
  order: 1;
}
 .device-image {
  max-width: 60%;
}
/* hiding big images we're going to display at >900px  */ 
.crave-big-image,
.tweetstream-big-image {
  display: none;
}
.project-title {
  font-family: $headline-font-stack;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 3rem;
}
.black-border-bottom {
  border-bottom: 1px solid #000;
}
.project-copy {
   font-family: $body-font-stack;
   font-size: 1.2rem;
   font-weight: 300;
}
.page-indicator {
  display: none;  /* not showing our page indicator circles on small screens*/
}

@media screen and (min-width: 550px) {
    .page-indicator {
      display: block;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      background: #ccc;
      padding: 5px;
      border-radius: 3px;
  }
  .indicator-circle {
    float: left;
    min-height: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-right: 10px;
  }
  .indicator-circle:last-child {
    margin-right: 0;
  }
  .first-indicator-circle {
    background: #000;
  }

}

@media screen and (min-width: 500px) and (max-width: 699px) {
  .page_container {
      width: 80%;
      padding: 0;
    }
    .project-title {
      font-size: 4rem;
    }
}


@media screen and (min-width: 700px) and (max-width: 899px) {
  .page_container {
      width: 60%;
    }
    .device-image {
      margin-bottom: 1rem;
    }
}
  @media screen and (min-width: 900px) {
      .small-device-image {
        display: none;
       }
      .page_container {
         position: relative;
         display: flex;
         flex-direction: row; /* at >900px, we display our image and copy side by side */
         justify-content: flex-end; /* by default, we align the content towards the right of the screen*/
         width: 100%;
       }
      .device-image {
          max-width: 70%;
          float: right;
       }
      .project-description {
        width: 40%;
        order: 0;
        display: flex;
        /* centering our copy vertically within our project description div*/
        flex-direction: column;
        justify-content: center;
      }
      .project-image-container {
        width: 50%;
        order: 0;
      }
      .project-title {
        font-size: 4rem;
      }
      .project-copy {
       font-size: 1.2rem;
      }
      /* if we want our image to be on the left instead of the right, we add the following four classes*/
     .align-image-left {
        justify-content: flex-start; 
      }
    .image-floating-left {
        float: left;
      }
    .image-aligned-left {
      order: 1;
     }
    .description-aligned-right {
      order: 2;
    }
    /*we have slightly different widths for each of our devices images to make them their best*/
    .tweetstream-big-image {
      display: block;
      max-width: 650px;
      width: 90%;
    }
     .crave-big-image {
        display: block;
        max-width: 550px;
        width: 90%;
    }

  }

